<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>客戶資料查詢-by id</title>
    <!--使用thymeleaf動態引用js file-->
    <script th:src="@{/js/vue.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <fieldset id="app">
        <legend>客戶資料查詢</legend>
        <form>
            <div>客戶編號</div>
            <input type="text" name="customerid" v-model="customerid"/>
            <input type="submit" value="查詢" class="btnStyle"/>
            <div>您查詢的客戶編號 :{{customerid}}</div>
        </form>
    </fieldset>
    <!--建構Vue物件掛載DOM-->
    <script>
        var app=new Vue(
            {
                //資料模組
                data:{
                    customerid:'99999'
                }
            }
        );
        //掛載
        app.$mount('#app');
    </script>
</body>
</html>