<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>會員註冊</title>
    </head>
    <body>
        <!--設計表單頁面-->
        <fieldset>
            <legend>會員註冊</legend>
            <form method="post" action="register">
                <div>使用者帳號</div>
                <input type="text" name="userName"/>
                <div>密碼</div>
                <input type="password" name="password"/>
                <div>EMAIL</div>
                <input type="text" name="email"/>
                <br/>
                <input type="submit" value="註冊"/>
                <input type="reset" value="取消"/>
            </form>
        </fieldset>
    </body>
    
</html>
